@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&family=Montserrat:wght@200;400;600;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  min-width: 320px;
  font-family: v.$monty;
  color: v.$primary;
}
ul li{
    list-style: none;
}
html{
    line-height: 1.25;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: #000;
    &:hover{
        font-weight: 600;
    }
}
p{
    font-size: 1rem;
}
@each $element in v.$end-to-end-width{
    #{$element}{
        width: 100%;
    }
}
@for $i from 1 through 6{
    h#{$i}{
        font-family: v.$serif;
    }
}