@use "variables" as v;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  font-family: v.$monty;
  background-color: v.$off-white;
}
ul li {
  list-style: none;
}
html {
  line-height: 1.25;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
}
p {
  font-size: 1rem;
}
@each $element in v.$end-to-end-width {
  #{$element} {
    width: 100%;
  }
}
