@use "variables" as v;
@mixin float($direction: left) {
  @if $direction == left {
    float: left;
  } @else if $direction == right {
    float: right;
  } @else {
    float: left;
  }
}
@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $justify: flex-start,
  $align: stretch,
  $align-content: flex-start,
  $gap: 0px
) {
  display: flex;
  flex-direction: #{$direction};
  flex-wrap: #{$wrap};
  justify-content: #{$justify};
  align-items: #{$align};
  align-content: #{$align-content};
  gap: #{$gap};
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.clearfix{
  clear: both;
}
.flt-l {
  float: left;
}
.flt-r {
  float: right;
}
.filter {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 700ms;
  background-color: rgba(0, 0, 0, 0.1);
}
.cover {
  width: 100%;
  height: 400px;
}
.rel-container {
  position: relative;
  display: block;
  width: 400px;
  height: fit-content;
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}
@mixin container{
  width: 100%;
  max-width: 1140px;
  margin: 2rem auto;
  padding: 0 1rem;
}
.container {
  @include container;
}
.wide-container{
  @include container;
  max-width: 1550px;
}
@mixin black-btn {
  transition: all 300ms;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0.25em;
  background-color: #000;
  color: v.$off-white;
  &:hover{
    background-color: v.$accent;
  }
}
@mixin white-btn{
    @include black-btn;
    background: none;
    color: #000;
    border: 0.25rem solid v.$dark-gray;
    &:hover{
      background:none;
    }
}
.anchor-btn {
  @include black-btn;
  a {
    color: v.$off-white !important;
  }
}
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.image-card {
  position: relative;
  overflow:hidden;
  background: #fff;
  padding-bottom: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 v.$shadow;
  .card-header{
    margin-bottom: .5rem;
    img{
      display: block;
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
      max-height: 300px;
      object-position: center;
      transition: 200ms transform ease-in-out;
      &:hover{
        transform: scale(1.025);
      }
    }
  }
  .card-body{
    font-size: 0.8rem;
    margin: 1rem 1rem;
  }
  .card-footer{
    min-height: 3em;
    margin-top: 1rem;
    margin: 0 1rem;
    .anchor-btn{
      position: absolute;
      left: 1rem;
      bottom: 1rem;
    }
  }
}
.text-card {
    padding: 0 2rem;
}
.center-text{
  text-align: center;
}
.btn-example {
  text-align: right;
  span{
    @include white-btn;
    font-weight: 500;
    display: inline-block;
  }
}
@mixin form-element{
  padding: 0.5rem 1em;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.2s;
}
@mixin focused-element{
  outline-color: v.$accent;
}
.hidden{
  display:none;
}
