@use "variables" as v;
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  img {
    height: 4rem;
  }
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
#about {
  display: flex;
  flex-flow: row wrap;
}

.flex-col {
  max-width: 45%;
}
#profile {
  display: flex;
width: 100%;
  gap: 4rem;
  height: 400px;
  #profile-content {
    width: 50%;
    #title {
      position: relative;
      left: 0;
      top: 5%;
      h1 {
        font-size: 4rem;
      }
    }
    #subtitle {
      position: relative;
      top: 10%;
      left: 10%;
      p {
        font-weight: 600;
        font-size: 1.5rem;
      }
    }
    #content {
      position: relative;
      top: 10%;
      left: 10%;
    }
  }
}
.grid{
    article{
        img{
            width: 100%;
            height: auto;
        }
    }
}

