@use "variables" as v;
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  img {
    height: 4rem;
  }
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  li {
    display: flex;
    align-items: center;
  }
}
footer {
  padding: 2rem 0;
  font-weight: 600;
  p,
  a {
    color: v.$dark-gray;
  }
  ul {
    gap: 1rem;
  }
}

.flex-col {
  max-width: 45%;
}
#profile {
  display: flex;
  gap: 4rem;
  height: auto;
  #profile-content {
    padding-top: 1rem;
    width: 50%;
    h1 {
      font-size: 4rem;
    }
    #subtitle {
      p {
        font-weight: 600;
        font-size: 1.5rem;
        color: v.$dark-gray;
      }
    }
    #content {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}
#skills{
    
    h2{
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.grid {
  article {
    img {
      width: 100%;
      height: auto;
    }
    .anchor-btn{
        margin: 1rem 2rem;
    }
  }
}
#fixed-icons {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 2rem;
}
#top-img {
  position: relative;
  top: 0;
  left: 0;
}
