@media (max-width: 1799px) {
  header {
    position: static;
  }
}
@media (max-width: 1279px) {
  #fixed-icons {
    display: none;
  }
}
@media (min-width:769px) and (max-width: 1141px){
    .container, .wide-container{
        padding: 0 1rem;
    }
    #footer-links{
      margin-left: 1rem;
    }
}
@media (max-width: 949px){
  .form-img{
    display: none;
  }
}
@media (max-width:863px){
  .btn-example{
      text-align: center;
  }
}
@media (max-width: 769px) {
  #profile {
    flex-direction: column;
    #profile-content {
      width: 100%;
      #title,
      #subtitle {
        text-align: center;
      }
      #content {
        padding: 0px 10px;
        text-align: justify;
      }
    }
    #composite-profile-img {
      width: 80%;
      margin: 0 auto;
    }
  }

}
@media (max-width: 728px){
  footer{
    #footer-links{
      float: left;
    }
  }
}
@media (max-width: 689px){
  #logo{
    p{
      display: none;
    }
  }
}
@media (max-width: 649px){
  .container, .wide-container{
    padding: 0;
  }
}
@media (max-width: 499px){
  #contact{
    .grid{
      padding: 1rem;
    }
  }
}
@media (max-width: 434px){
  #contact{
    border-left: none;
    border-right: none;
    .grid{
     padding: 0.2rem;
    } 
   }
   form{
    input[type=submit]{
      display: block;
      margin: 0 auto;
    }
   }
}
@media (max-width: 401px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media (max-width: 365px){
  #logo{
    display: none !important;
  }
  nav{
    margin: 0 auto;
  }
}
@media (max-width: 321px) {
  
}
@media (min-width: 848px) and (max-width: 1263px){
    .hidden{
      display: block;
    }
}
