$primary: #5D3891;
$accent: #F99417;
$light-gray: #E8E2E2;
$dark-gray: #8F929E;
$off-white: #F5F5F5;
$monty: 'Montserrat', sans-serif;
$serif: 'EB Garamond', serif;

$end-to-end-width: header, main, footer;