@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&family=Montserrat:wght@200;400;500;600;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  background-color: #F5F5F5;
}

ul li {
  list-style: none;
}

html {
  line-height: 1.25;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  font-size: 1rem;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.clearfix {
  clear: both;
}

.flt-l {
  float: left;
}

.flt-r {
  float: right;
}

.filter {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 700ms;
  background-color: rgba(0, 0, 0, 0.1);
}

.cover {
  width: 100%;
  height: 400px;
}

.rel-container {
  position: relative;
  display: block;
  width: 400px;
  height: -moz-fit-content;
  height: fit-content;
}
.rel-container img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.anchor-btn {
  transition: all 300ms;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0.25em;
  background-color: #000;
  color: #F5F5F5;
}
.anchor-btn:hover {
  background-color: #F99417;
}
.anchor-btn a {
  color: #F5F5F5 !important;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.image-card {
  background: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.image-card .card-header {
  margin-bottom: 0.5rem;
}
.image-card .card-body {
  font-size: 0.8rem;
}
.image-card .card-footer {
  margin-top: 1rem;
}

.text-card {
  padding: 0 2rem;
}

.btn-example {
  text-align: right;
}
.btn-example span {
  transition: all 300ms;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0.25em;
  background-color: #000;
  color: #F5F5F5;
  background: none;
  color: #000;
  border: 0.25rem solid #8F929E;
  font-weight: 500;
  display: inline-block;
}
.btn-example span:hover {
  background-color: #F99417;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}
header img {
  height: 4rem;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
nav ul li {
  display: flex;
  align-items: center;
}

footer {
  padding: 2rem 0;
  font-weight: 600;
}
footer p,
footer a {
  color: #8F929E;
}
footer ul {
  gap: 1rem;
}
footer div {
  margin-bottom: 1rem;
}

.flex-col {
  max-width: 45%;
}

#profile {
  display: flex;
  gap: 4rem;
  height: auto;
}
#profile #profile-content {
  padding-top: 1rem;
  width: 50%;
}
#profile #profile-content h1 {
  font-size: 4rem;
}
#profile #profile-content #subtitle p {
  font-weight: 600;
  font-size: 1.5rem;
  color: #8F929E;
}
#profile #profile-content #content {
  font-size: 1.25rem;
  font-weight: 500;
}
#profile #profile-content #content p {
  margin-bottom: 1em;
}

#skills h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

.grid article img {
  width: 100%;
  height: auto;
}

#fixed-icons {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: 2rem;
}

#top-img {
  position: relative;
  top: 0;
  left: 0;
}

#contact {
  border: 3px solid black;
  border-radius: 1rem;
}
#contact .grid {
  padding: 3rem;
}

.form-header {
  margin: 0 auto;
}
.form-header h3 {
  margin-top: 1.65rem;
  font-size: 2.5rem;
}

form div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
form input[type=text], form input[type=email], form textarea {
  padding: 0.5rem 1em;
  border: none;
  border-radius: 0.25rem;
  transition: all 0.2s;
}
form input[type=text]:focus, form input[type=email]:focus, form textarea:focus {
  outline-color: #F99417;
}
form input[type=submit] {
  transition: all 300ms;
  display: inline-block;
  padding: 1em 2em;
  border-radius: 0.25em;
  background-color: #000;
  color: #F5F5F5;
  border: none;
}
form input[type=submit]:hover {
  background-color: #F99417;
}
form textarea {
  resize: none;
  height: 8rem;
}

@media (max-width: 1799px) {
  header {
    position: static;
  }
}
@media (max-width: 1279px) {
  #fixed-icons {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1141px) {
  .container {
    padding: 0 1rem;
  }
  #footer-links {
    margin-left: 1rem;
  }
}
@media (max-width: 863px) {
  .btn-example {
    text-align: center;
  }
}
@media (max-width: 769px) {
  #profile {
    flex-direction: column;
  }
  #profile #profile-content {
    width: 100%;
  }
  #profile #profile-content #title,
  #profile #profile-content #subtitle {
    text-align: center;
  }
  #profile #profile-content #content {
    padding: 0px 10px;
    text-align: justify;
  }
  #profile #composite-profile-img {
    width: 80%;
    margin: 0 auto;
  }
}
@media (max-width: 728px) {
  footer #footer-links {
    float: left;
  }
}
@media (max-width: 649px) {
  .container {
    padding: 0;
  }
}
@media (max-width: 499px) {
  #contact .grid {
    padding: 1rem;
  }
}
@media (max-width: 434px) {
  #contact {
    border-left: none;
    border-right: none;
  }
  #contact .grid {
    padding: 0.2rem;
  }
  form input[type=submit] {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 401px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}
@media (max-width: 365px) {
  #logo {
    display: none;
  }
  nav {
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */